// file description
// Color Palette
$primary-color: #FFAB00;
$secondary-color: #6190E4;
$primary-color-light: rgba($primary-color, 0.5);
// $primary-color-light: #FDA77D;
$primary-black: #1C1917;
$primary-grey: #FAFBFE;
$react-background: #282c34;
$react-link-color: #61dafb;

// Typography

.App {
  text-align: center;
}

.app-link {
  color: $react-link-color;
}
